.img {
    position: relative;
}

.img img {
    width:100%;
    display:block;
    border: 3px solid #B619E4;
    border-radius: 8px;
}

.frontSide {
    transform: rotateY(90deg);
    position: absolute;
    background-color: #B619E4;
    transition: all ease-in 0.2s;

}

.choosed .frontSide {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}


.backSide {
    transition : all ease-in 0.2s;
    transition-delay: 0.2s;
}

.choosed .backSide {
    transform: rotateY(90deg);
    transition-delay: 0s;
}